:root {
    --primary-color: #191970;
    --background-color: #1e90ff;
    --secondary-color: white;
    --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
h1, h2 {
    font-family: 'Playfair Display', serif;
}
p {
    font-family: 'Poppins', sans-serif;
}
.hero {
    background-color: var(--background-color);
    color: var(--secondary-color);
    padding: 50px 20px;
}
.hero h1 {
    font-size: 72px;
    font-weight: bold;
    text-align: center;
}
.hero p {
    font-size: 32px;
    font-weight: lighter;
    text-align: center;
}
.navigation-links {
    display: flex;
    margin-top: 40px;
    justify-content: center;
  }
.navigation-links a {
    border-radius: 4px;
    padding: 10px 15px;
    text-decoration: none;
    text-transform: capitalize;
    background: var(--primary-color);
    box-shadow: var(--box-shadow);
    color: var(--secondary-color);
  }
.navigation-links a:hover {
    background-color: var(--secondary-color);
    color: #191970;
  }
.homepage {
    margin: 20px 20px;
  }
.homepage h2 {
      font-size: 40px;
      font-weight: bold;
  }
.homepage p {
    font-size: 28px;
    text-align: justify;
}
.learn-more-link {
  border-radius: 4px;
    padding: 10px 15px;
    text-decoration: none;
    text-transform: capitalize;
    background: var(--primary-color);
    box-shadow: var(--box-shadow);
    color: var(--secondary-color);
}
.learn-more-link:hover {
    background-color: var(--secondary-color);
    color: #191970;
}

.about-hero {
    background-color: var(--background-color);
    color: var(--secondary-color);
    padding: 50px 20px;
}
.about-hero h1 {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
}
.about-hero h2 {
    font-size: 24px;
    text-align: center;
}
.about-hero p {
    font-size: 16px;
    font-weight: lighter;
    margin: 30px 0;
    text-align: center;
}

@media (max-width: 960px) {
    .homepage img {
      display: block;
    }
    .homepage h2 {
        text-align: center;
    }
    .homepage p {
        text-align: center;
    }
    .homepage a {
        display: flex;
        justify-content: center;
    }
    .icon {
        visibility: hidden;
    }
  }
  .gallery-text {
      margin: 20px 0;
      text-align: center;
  }
  .photo-carousel h2{
      text-align: center;
  }
  .photo-carousel {
      height: auto;
      width: 100%;
  }