:root {
    --primary-color: #191970;
    --background-color: #1e90ff;
    --secondary-color: white;
    --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
h1, p {
    text-align: center;
}
h1 {
    font-family: 'Playfair Display', serif;
}
p {
    font-family: 'Poppins', sans-serif;
}
.hero {
    background-color: var(--background-color);
    color: var(--secondary-color);
    padding: 50px 20px;
}
.hero h1 {
    font-size: 96px;
    font-weight: bold;
    margin: 20px 0;
}
.hero p {
    font-size: 48px;
    font-weight: lighter;
}
.navigation-links {
    display: flex;
    margin-top: 40px;
    justify-content: center;
  }
.navigation-links a {
    border-radius: 4px;
    padding: 10px 15px;
    text-decoration: none;
    text-transform: capitalize;
    background: var(--primary-color);
    box-shadow: var(--box-shadow);
    color: var(--secondary-color);
    justify-content: center;
  }
  .navigation-links a:hover {
      background-color: var(--secondary-color);
      color: #191970;
  }

